<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY APP</title>
</head>
<body>
Gestión de campings.

<ul class="campings">
    {{#each campings}}
    <li class="camping">
        <span>{{name }}</span>
        <span>{{phone }}</span>
        <span>{{camping }}</span>
        <span>{{email }}</span>
        <span>{{address }}</span>
        <span>{{location }}</span>
        <a href="/campings/{{_id}}">Edit</a>
        <a href="/campings/delete/{{_id}}">Delete</a>
    </li>
    {{/each}}
</ul>

<form action="/campings" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="phone" phone="phone">
    <input type="text" placeholder="email" email="email">
    <input type="text" placeholder="address" address="address">
    <input type="text" placeholder="location" location="location">
    <button type="submit">New</button>
</form>
</body>
</html>